html {
		background-color: saddlebrown;
		color : white;
}

h1 {
		text-align: center;
		font-size: 24px;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;
}

hr {
    border: 1px solid white;
}

#vizsla {
	width: 200px;
	height: 150px;
    border: 1px solid black;
	
}

#elso{
	width: 90%;
	border: 2px solid black;
	margin-left: 5%;
	margin-right: 5%;
}

#elso td {
		padding: 10px;
}

#elso li {
    text-align: left;
}
#tortenet {
    text-align: justify;
    font-family: "Times New Roman";
    line-height: 1.5em;
}

#galeria {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid black;
    border-collapse: collapse;
}

#galeria img {
    height: 200px;
    align-self: center;
    border: 1px solid black;
    margin: 10px;
}

#galeria td {
    align-items: center;
    border: 2px solid black;

}

.container {
    text-align: center;
}
